body *{
    margin: 0px;
    padding: 0px;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ingredientes li{
    list-style: none;
}

.dim-imag-carr{
width: 17%;

}
.texto-lobster{
    font-family: "Lobster";
    font-weight: 400;
}

.cabinBold{
    font-weight: 700;
}

.bg-propio {
    background-color: #373A3C
}

.carousel-control-next, .carousel-control-prev
{
    background-color: #e1e8ec;
}

.bg-newsl {
    background-color: #DC3545;
}
.title-color{
    color: #373A3C;
}

.carousel-item, .tx-color {
    color: #FFFFFF;
}

@media screen and (width< 768px) {#carrusel_Ricomida
    {
        display: none;
    }
}

@media screen and (width< 576px) {.barra-nav
    {
        text-align: center;
    }
}

